/* Tablet */
@media screen and (max-width : 768px) {
    /* Working environment */
    .work-environment {
        background-color: white;
    }
    .work-environment .work-environment-img {
        display: none;
    }

    .work-environment .work-environment-col-inner {
        display: none;
    }

    .work-environment .work-environment-content {
        max-width : 768px
    }

    /* expert content */
    .expert-content {
        flex-direction: column;
        gap: 0px;

    }

    .expert-content .expert-content-img {
        width: 100%
    }

    .expert-content .expert-content-img img {
        width: 45%;
        height: auto;
    }

    .expert-content .expert-content-text {
        /* padding: 0px; */
        width: 100%;
    }
    
    /*  */

    .section-about-content .section-about-content-list .section-about-content-item {
        width: 44%;
    }

    .footer-2-content .footer-2-content-form {
        grid-template-columns: 1fr 1fr;
    }
}
/* Smartphone */
@media screen and (max-width : 480px) {
    /* header */
    body {
        width: 100%;
    }

    header nav {
        width: 90%;
        /* position: relative; */
        display: flex;
        justify-content: space-between;
    }
    nav .nav-center {
        width: 10%;
        display: flex;
        justify-content: flex-end;
    }

    nav .nav-center .menu-btn {
        display: inline-block;

        font-size: 1.9em;
        text-align: left;
        height: 100%;
        text-align:center;
        font-size: 1.9rem;
        color: #333;
    }

    nav .nav-center .menu-btn:hover {
        color: #6fbd44;
    }

    nav .nav-center:hover>.nav-list {
        display: block;
    }

    
    
    nav .nav-center .nav-list{
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: white;
        padding: 15px;
        width: 60%;
        width: 250px;
        display: none;
    }

    /* introduction */
    .introduction {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* environment */
    .work-environment .work-environment-content {
        width: 100%;
    }

    .target-section .target-section-list {
        flex-direction: column;

        align-items: center;
        gap: 15px;
        
    }

    .target-section .target-section-list .target-section-element {
        width: 95%;
    }

    .expert-content .expert-content-img {
        width: 100%;
    }

    .section-about-content .section-about-content-list .section-about-content-item .info {
        flex-wrap: wrap;
    }

    .section-about-content .section-about-content-list .section-about-content-item {
        width: 90%;
    }

    .expert-content .expert-content-text {
        font-size: 12px;
        text-align: left;
        width: 80%;
    }

    .footer-1 .footer-1-content-item {
        width: 90%;
    }

    .footer-2-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-2-content .footer-2-content-form {
        grid-template-columns: 1fr;
    }

    .footer-2-content .footer-2-content-form {
        width: 100%;
    }
}